<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ebBus">
    <!-- Other configurations -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="ebBus"
        android:icon="@mipmap/ic_launcher">
        AIzaSyBqyn7G8jhJ_R6NflxOVYBQbQOyiBRCW44
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqyn7G8jhJ_R6NflxOVYBQbQOyiBRCW44"/>
    </application>
</manifest>
